body {background-color: black;
}
.parte1{background-color: rgb(0, 129, 11);
    h1{text-align: center;}
}
#ima1{width: 60%;}

.parte2{background-color: rgba(0, 14, 145, 0.904);
}
.parte3{background-color: rgb(187, 184, 0);
}
